:root {
    --background-color-light: #fcfcf6;
    --accent-color: #aa96e4;
    --dark-color: #434343;
    --guessed-letter-color: #bbffbb;
    --not-guessed-letter-color: #eeeeee;
    --wrong-spot-letter-color: #fffaa3;
    --black: #000000;
    --white: #ffffff;
    --header-font: "Moo Lah Lah", sans-serif;
    --main-font: sans-serif;
}

header {
    text-align: center;
}

body {
    background-color: var(--background-color-light);
    font-family: var(--main-font);
    margin: 0;
}

main {
    text-align: center;
}

h1 {
    color: var(--accent-color);
    font-family: var(--header-font);
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    margin: 0;
}

p {
    font-size: 1.5rem;
    margin: 0;
}

button {
    text-decoration: none;
    cursor: pointer;
    background-color: var(--dark-color);
    color: var(--white);
    padding: 0.2em 0.6em;
    border-radius: 1em;
    border: none;
    font-size: 1.5rem;
    margin-top: 1em;
}

ul {
    padding-left: 20px;
}

.game-page-header {
    font-size: 5rem;
}

.intro-content {
    height: 100vh;
}

.intro-content div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.modal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    border-radius: 0.4em;
    width: 40vw;
    left: 0; 
    right: 0; 
    margin: 0 auto;
    padding: 1.5em;
    z-index: 2;
}

.how-to-play ul li, .how-to-play p {
    font-size: 1rem;
    margin-top: 0.5em;
    text-align: left;
}

.how-to-play h2 {
    margin-top: 0;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.modal-close-button {
    cursor: pointer;
    position: absolute;
    right: 0;  
    top: 0;
    padding: 10px;  
}

.row {
    display: flex;
    justify-content: center;
}

.row-example {
    display: flex;
}

.box, .box-example {
    background-color: var(--white);
    height: 60px;
    width: 60px;
    margin: 5px 5px 0 0;
    border-radius: 0.2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid;
}

.icons, .text, .question-mark, .replay-icon {
    display: inline-block;
}

.question-mark, .replay-icon {
    padding-left: 15px;
    cursor: pointer;
}

.key {
    padding: 10px;
    margin: 2px;
    background-color: var(--dark-color);
    font-size: 1rem;
    border-radius: 0.5em;
}

.keyboard {
    padding-top: 30px;
}

.orange {
    background-color: var(--wrong-spot-letter-color);
}

.grey {
    background-color: var(--not-guessed-letter-color);
}

.green {
    background-color: var(--guessed-letter-color);
}

.hidden {
    display: none;
}

.message {
    background-color: var(--black);
    color: var(--white);
    padding: 5px;
    width: 250px;
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 200px;
    margin-left: auto; 
    margin-right: auto;
    border-radius: 0.4em;
}

@media (width <= 650px) {
    .key {
        font-size: 0.6rem;
    }
    .game-page-header {
        font-size: 3rem;
    }
    .modal {
        width: 70vw;
    }
}